footer{
    padding: 96px 80px;
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
    gap: 48px;

    @media screen and (max-width: 768px) {
        padding: 66px 40px;
    }

    @media screen and (max-width: 500px) {
        padding: 46px 20px;
        gap: 38px;
    }

    .title{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .badge{
            padding: 4px 20px;
            background-color: #E5E7EB;
            border-radius: 12px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: #4B5563;
        }

        .subtitle{
            max-width: 576px;
            min-width: 290px;
            color: #4B5563;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
        }
    }

    .content{
        form{
            box-shadow: 0 4px 3px rgba(0,0,0,7%);
            border-radius: 12px;
            height: 100%;
            display: flex;
            background-color: #FFF;
            flex-direction: column;
            padding: 50px 35px;
            gap: 32px;

            .group-checkbox{
                display: flex;
                flex-direction: column;
                gap: 12px;
                height: 100%;

                .label{
                    font-size: 20px;
                    line-height: 24px;
                    color: #4B5563;
                }

                .checkboxs{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    height: 100%;

                    @media screen and (max-width: 500px) {
                        flex-direction: column;
                    }

                    .group-check{
                        height: 100%;
                        display: flex;

                        @media screen and (max-width: 500px) {
                            width: 100%;
                        }

                        input:checked ~ label{
                            background-color: #1ABCFE;
                            border-color: #1ABCFE;
                            color: #fff;
                            transition: background-color 300ms ease-in-out,
                            border 300ms ease-in-out;
                        }

                        label{
                            color: #4B5563;
                            border: 1px solid #4B5563;
                            border-radius: 12px;
                            padding: 10px 20px;
                            background-color: transparent;
                            height: 100%;
                            transition: background-color 300ms ease-in-out,
                            border 300ms ease-in-out;
                            font-weight: 500;

                            @media screen and (max-width: 500px) {
                                width: 100%;
                                text-align: center;
                            }
                        }

                        input{
                            visibility: hidden;
                            pointer-events: none;
                            position: absolute;
                        }


                    }
                }
            }

            .group-input{
                display: flex;
                gap: 4px;
                flex-direction: column-reverse;

                label{
                    font-size: 16px;
                    line-height: 16px;
                    color: #4B5563;
                    font-weight: 500;
                    transition: 300ms ease-in-out;
                }

                input:focus-within ~ label, textarea:focus-within ~ label{
                    color: #1ABCFE;
                    font-size: 18px;
                    transition: 300ms ease-in-out;
                }

                input:focus-within, textarea:focus-within{
                    border-color: #1ABCFE;
                    transition: 300ms ease-in-out;
                }

                input, textarea{
                    border-bottom: 1px solid  #4B5563;
                    border-top: 0;
                    border-right: 0;
                    border-left: 0;
                    background: transparent;
                    outline: none;
                    padding: 12px;
                    transition: 300ms ease-in-out;
                    resize: none;
                    font-size: 16px;
                    line-height: 16px;
                    color: #4B5563;
                    font-weight: 500;
                }
            }

            button{
                border-radius: 50px;
                background-color: #1ABCFE;
                border: 1px solid #1ABCFE;
                text-align: center;
                padding: 16px 71px;
                color: #fff;
                font-size: 18px;
                line-height: 24px;

                @media screen and (max-width: 500px) {
                    width: 100%;
                    text-align: center;
                    padding: 12px 51px;
                }
            }
        }
    }

    .copy{
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #F9FAFB;
        text-align: center;
        color: #4B5563;
        padding: 24px 80px;
        font-size: 14px;
        line-height: 20px;
        width: -webkit-fill-available;
    }
}