@import "./theme.scss";

footer{
    padding: 96px 80px 20px 96px;
    display: flex;
    flex-direction: column;
    background-color: var(--section);
    gap: 48px;

    @media screen and (max-width: 768px) {
        padding: 66px 40px;
    }

    @media screen and (max-width: 500px) {
        padding: 46px 20px;
        gap: 38px;
    }

    .alert{
        width: 560px;
        border-radius: 12px;
        padding: 12px;
        display: flex;
        align-items: center;
        z-index: 1000;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width: 500px) {
            width: 80%;
            
        }
        
        

        &.hidden{
            top: -300px;
            transition: 200ms linear;
        }

        &.visible{
            top: 20px;
            transition: 200ms linear;
        }

        &.success{
            background: var(--green);
        }

        &.error{
            background: var(--red);
        }

        .icon__wrapper {
            height: 34px;
            width: 34px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.253);
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                width: 24px;
                height: 24px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        p {
            color: #fff;
            margin-left: 10px;
        }

        

        .close {
            color: #fff;
            transition: transform 0.5s;
            font-size: 18px;
            cursor: pointer;

            &:hover {
                transform: scale(1.3);
            }
        }


    }

    .title{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .badge{
            padding: 4px 20px;
            background-color: var(--badge);
            border-radius: 12px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: var(--text-badge);
        }

        .subtitle{
            max-width: 576px;
            min-width: 290px;
            color: var(--text);
            font-size: 20px;
            line-height: 28px;
            text-align: center;
        }
    }

    .content{
        form{
            box-shadow: 0 4px 3px rgba(0,0,0,7%);
            border-radius: 12px;
            height: 100%;
            display: flex;
            background-color: var(--white);
            flex-direction: column;
            padding: 50px 35px;
            gap: 32px;

            .group-checkbox{
                display: flex;
                flex-direction: column;
                gap: 12px;
                height: 100%;

                .checkboxs{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    .label{
                        font-size: 20px;
                        line-height: 24px;
                        color: var(--text); 
                        margin-bottom: 12px;
                    }

                    @media screen and (max-width: 500px) {
                        flex-direction: column;
                    }

                    .group-check{
                        height: 100%;
                        display: flex;

                        @media screen and (max-width: 500px) {
                            width: 100%;
                        }

                        input:checked ~ label{
                            background-color: var(--blue);
                            border-color: var(--blue);
                            color: var(--white);
                            transition: background-color 200ms ease-in-out,
                            border 300ms ease-in-out;
                        }

                        label{
                            color: var(--text);
                            border: 1px solid var(--text);
                            border-radius: 12px;
                            padding: 10px 20px;
                            background-color: transparent;
                            height: 100%;
                            transition: background-color 200ms linear,
                            border 300ms linear;
                            font-weight: 500;
                            cursor: pointer;

                            &.error{
                                color: var(--red);
                                border-color: var(--red);
                            }

                            @media screen and (max-width: 500px) {
                                width: 100%;
                                text-align: center;
                            }
                        }

                        input{
                            visibility: hidden;
                            pointer-events: none;
                            position: absolute;
                        }


                    }
                }

                p.error{
                    color: var(--red);
                    font-size: 14px;
                    margin: 0;
                }
            }

            .group-input{
                display: flex;
                gap: 4px;
                flex-direction: column-reverse;

                label{
                    font-size: 16px;
                    line-height: 16px;
                    color: var(--text);
                    font-weight: 500;
                    transition: 300ms linear;
                }

                input.error ~ label{
                    color: var(--red);
                }

                input:focus-within ~ label, textarea:focus-within ~ label{
                    color: var(--blue);
                    font-size: 18px;
                    transition: 200ms linear;
                }

                input:focus-within, textarea:focus-within{
                    border-color: var(--blue);
                    transition: 200ms linear;
                }

                input, textarea{
                    border-bottom: 1px solid  var(--text);
                    border-top: 0;
                    border-right: 0;
                    border-left: 0;
                    background: transparent;
                    outline: none;
                    padding: 12px;
                    transition: 200ms linear;
                    resize: none;
                    font-size: 16px;
                    line-height: 16px;
                    color: var(--text);
                    font-weight: 500;

                    &.error{
                        border-color: var(--red);
                    }
                }

                p.error{
                    color: var(--red);
                    font-size: 14px;
                    margin: 0;
                }
            }

            button{
                border-radius: 50px;
                background-color: var(--blue);
                border: 1px solid var(--blue);
                text-align: center;
                padding: 16px 71px;
                color: var(--btn-color);
                font-size: 18px;
                line-height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 300ms ease-in-out;

                &:hover{
                    background-color: var(--hover);
                    transition: 300ms ease-in-out;
                }

                @media screen and (max-width: 500px) {
                    width: 100%;
                    text-align: center;
                    padding: 12px 51px;
                }

                .loader{
                    display: block;

                    &:after {
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 3px solid var(--white);
                        border-color: var(--white) transparent var(--white) transparent;
                        animation: ring 1.2s linear infinite;
                      }
                }
            }
        }
    }

    .copy{
        text-align: center;
        color: var(--text);
        font-size: 14px;
        line-height: 20px;
        width: -webkit-fill-available;
    }
}

@keyframes ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }