.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(17, 24, 39, 0.20);
    backdrop-filter: blur(5px);
    z-index: 3;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 300ms ease-in-out;
    border-radius: 100%;
    
    @media screen and (max-width: 1036px) {
      border-radius: 0;
      
      &.active{
        transform: translateX(0%);
        transition: 300ms ease-in-out;
      }
    }
}

.sidebar{
    display: none;
    z-index: 3;
    width: 320px;
    background: #fff;
    

    @media screen and (max-width: 1036px) {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -320px;
        bottom: 0;
        transition: 300ms ease-in-out;
        height: 100vh;
        filter: drop-shadow(0 25px 25px rgba(0,0,0,.1));

        &.active{
            right: 0;
            transition: 300ms ease-in-out;
        }

        .logo-close{
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            border-bottom: 1px solid #F3F4F6;

            .sidebar-brand{
                width: 208px;
            }

            .btn-close{
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg{
                    width: 26px;
                    height: 26px;
                }
            }
        }

        .sidebar-links{
            padding: 16px;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 16px;
            border-bottom: 1px solid #F3F4F6;

            .sidebar-item{
                .sidebar-link{
                    color: #4B5563;
                    line-height: 24px;
                    transform: scale(1);
                    transition: 300ms ease-in-out;
                    font-weight: 500;
    
                    &:hover{
                        color: #1ABCFE;
                        transform: scale(1.9);
                        transition: 300ms ease-in-out;
                    }
                }
            } 
        }

        .sidebar-theme-download{
            padding: 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .btn-theme{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                line-height: 24px;
                color: #4B5563;
                font-size: 16px;
                font-weight: 500;
               
                
                .icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 36px;
                    height: 36px;

                    svg{
                        width: 26px;
                        height: 26px;
                    }

                    .sun{
                        display: none;
                    }
                }
            }

            .btn-download{
                padding: 8px 16px;
                background-color: #1ABCFE;
                border-radius: 12px;
                color: #F9FAFB;
                text-align: center;
            }
        }
    }
}